/build/
/build-root-check/
/build-tests/
/benchmark/build*/
/dev-tools/build*/
/tests/build*/
/dist/
/.eggs/
/anaconda_projects/
/.vscode/

*.d
*.o
*.pyc
*.pyo
*.so
.DS_Store
Pipfile

__pycache__/
/dev-tools/**/__pycache__/

/morphoTreeAdjust.egg-info/
/python/morphoTreeAdjust.egg-info/
/python/casfInducedTree.egg-info/
/python/morphoTreeAdjust/version.py

/notebooks/.ipynb_checkpoints/
/notebooks/anaconda_projects/

/tests/dat/icdar_val
/tests/dat/icdar_resized
/tests/dat/icdar
/tests/dat/dataset-icdar2024_occluded
/tests/dat/icdar_1024p
/tests/dat/icdar_360p
/tests/dat/icdar_480p
/tests/dat/icdar_720p
