build/*
morphoTreeAdjust.egg-info/* 
tests/build/*
dist/*
.DS_Store
.vscode/*
Pipfile
*.d
*.o
/.eggs
/tests/dat/icdar_val
/tests/dat/icdar_resized
/tests/dat/icdar
/tests/dat/icdar_resized
/python/morphoTreeAdjust.egg-info
