include README.md LICENSE CMakeLists.txt MANIFEST.in pyproject.toml setup.py pybind11.cmake
recursive-include cmake *.cmake

include morphoTreeAdjust/morphoTreeAdjust.cpp
include morphoTreeAdjust/include/MorphoTreeAdjust.hpp
include morphoTreeAdjust/include/AdjacencyRelation.hpp
include morphoTreeAdjust/include/AttributeComputer.hpp
include morphoTreeAdjust/include/Common.hpp
include morphoTreeAdjust/include/ComponentTreeCasf.hpp
include morphoTreeAdjust/include/DynamicComponentTree.hpp
include morphoTreeAdjust/include/DynamicComponentTreeAdjustment.hpp
include morphoTreeAdjust/include/DynamicComponentTreeAdjustmentInstrumented.hpp
include morphoTreeAdjust/include/DynamicComponentTreeAdjustmentLeaf.hpp

recursive-include python/morphoTreeAdjust *.py
prune morphoTreeAdjust/pybind
prune benchmark
prune dev-tools
prune docs
prune examples
prune notebooks
prune python/morphoTreeAdjust.egg-info
prune results
prune unit-tests

global-exclude __pycache__
global-exclude *.py[cod]
global-exclude .DS_Store
global-exclude .gitignore
